.Main-Container {
  height: 100vh;
  width: 100vw;
  padding: 0px !important;
  margin: 0px;
}

.header-Chat-App {
  height: 7vh;
  background-color: black !important;
}

.brand-Name {
  color: #55dc9e !important;
}

.navLink {
  color: white !important;
}

.navLink:hover {
  color: #55dc9e !important;
}
