.MainChatRoom {
  color: white;
  height: 95vh;
  background-color: gray;
  overflow: scroll;
}

.fixedContainer {
  width: 386px;
  /*
  position: fixed;
  bottom: 10px;
  left: 15px;
  padding-right: 0px;
  */
}

.newChatMessage {
  height: 36px;
  width: 316px;
  margin-right: 20px;
  outline: none;
}