.landingPage{
  width: 100%;
  height: 93vh;
  background-color: black;
}

.nameOfApp {
  height: 60%;
  /* padding-top: 11rem; */
  /* text-align: center; */
  font-size: 5rem;
}
.splitSection{
  height: 40%;
}

.splitSectionLeftCol {
  background-color: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 35px;
  color: white;
}


.splitSectionRightCol {
  background-color: black;
  font-family: 'Barlow Condensed', sans-serif;

}

.footerSection {
  height: 25%;
}

.slackReactor {
  color: #55dc9e;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: -25px;
}

.socialRows {
  height: 50%;
  font-size: 25px;
  color: #55dc9e;
}

.contributors {
  color: white;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  /* color: #d3ffe9; */
}

.gap{
  background-color: black;
}

.names {
  height: 40%;
}

.socialMediaSVG {
  cursor: pointer;
}

.aboutStatement {
  height: 60%;
  padding-left: 2%;
}

.technologies {
  height: 20%;
  font-size: 3rem;
  margin-left: 1% !important;
}

.technologiesTitle {
  height: 20%;
  font-size: 2rem;
  padding-left: 2%;
}

.techSVG {
  /* padding-left: 15%; */
  vertical-align: super;
}

@media only screen and (max-width: 900px) {
  .aboutStatement {
    font-size: 1.7rem;
  }
}

.svgStyle {
  height: 10% !important;
}