.MessageBoardContainer {
  color: white;
  height: 100%;
  overflow: auto;
}

.newMessageInput{
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-radius: 5px;
  border: 0px solid black;
  outline: none;
  background-color: rgb(27, 27, 27);
  color: white;
}

.roomName {
  text-align: center;
}

.MessageBoardContainer::-webkit-scrollbar {
  width: 0.5em;
}

.MessageBoardContainer::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}
/* .MessageBoardContainer::-webkit-scrollbar {
  display: none;
} */