img {
  height: 2.5rem;
  border-radius: 30px;
}
.messages {
  display: block;
}

.myMessage {
  background-color: grey;
}

.otherMessage {
  background-color: rgb(74, 74, 74);
}

/* .Message {
  background-color: rgb(27, 27, 27);
  width: 7.5rem;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
  color: rgb(34, 101, 179);
} */
