.RoomsCard {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  background: #55dc9e;
  border-radius: 17px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 300;
}

.RoomsCard :hover {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  border-radius: 17px;
  background-color: #acf7d4;
  /* transition: all 0.5s ease-in-out; */
  cursor: pointer;
  /* transform: translateY(-5px); */
}

.RoomsName {
  padding-top: 10px;
  padding-bottom: 10px;
}