.PeopleBox {
  width: 14rem;
  height: 3rem;
  display: flex;
  margin-top: 1rem;
}

img {
  height: 2.5rem;
  border-radius: 30px;
}

.peopleInRoomName {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  width: 30rem;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
  color: white;
  margin-left: 0.5rem;
}
.peopleInRoomAvatar {
  padding-top: 2px;
}
.peopleInRoomAvatar:hover {
  padding-top: 2px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  transform: translateY(-5px);
}
.peopleInRoomName:hover {
  color: black;
  background-color: #55dc9e;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  transform: translateY(-5px);
}