.RoomsCard {
  margin-bottom: 0rem;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  /* border: 1px solid black;
  border-radius: 50px; */
}

.RoomsCard :hover {
  color: rgb(0, 0, 0);
  background-color: #2e2e2e;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  transform: translateY(-5px);
}

.RoomsName {
  padding-top: 10px;
  padding-bottom: 10px;
}