img {
  height: 2.5rem;
  border-radius: 30px;
}
.messages {
  display: block;
  margin-left: 1rem;
}

.otherMessage {
  background-color: rgb(74, 74, 74);
}

.Message {
  width: fit-content;
  background: green;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
}
