.profilePicString {
  margin-left: 35%;
}

.uploadLabel {
  cursor: pointer;
  background-color: black;
  margin-left: 35%;
  border: 1px solid white;
  border-radius: 10px;
  width: 110px;
  color: white;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
